请求您删除部分侵权代码！请您联系我，电话/微信：17512549214 邮箱：2259461527@qq.com

*
.metadata/*
RemoteSystemsTempFiles/*
vmsgr/*

!*/

!*.c
!*.h
!.project
!.cproject
!*.cfg
cj-test/
bin_arm/
bin_arm_test/
updatetool/*
updatetool/*/*
*/CMakeFiles/

include/version.h
libTransmit/.project
